.titulo{
    display: grid;
    background-color:#000000;
    width: auto;
    height:90px;
    text-align: center;

}
.contenedor_IMAGEN{
    display: grid;
    background-color:#ffffff;
    width: auto;
    height: 500px;
    text-align: center;
}

#caja_IMAGEN{
    background-color:#141414 ;
    width: auto;
    text-align: center;
    height:470px;
    margin-top:10px;
}
.imagen{
    padding-top:10px;
    width: 1100px;
    height: 460px;
}
#calculadora{
    height: 220px;
    width: auto;
    text-align: center;
    padding-top: 10px;
    background-color: #000000;

}
.creditos{
    display: grid;
    background-color:#000000;
    width: auto;
    height:90px;
    margin-top: 20px;
    text-align: center;
}
h1{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#num1{
    width: 100px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#num2{
    width: 100px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#numero1{
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    color: #000000;
}
#numero2{
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    color: #000000;
}
#resultado{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 50px;
    font-size: larger;
    text-align: center;
    border: radius 5px;
}
label{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    color: rgb(0, 0, 0);
    background-color:#ffffff;
    font-size: large;
    font-size: 25px;
    border-radius:10px;
}